media_directory: "~/media"

ffmpeg:
  output: "twittertemp.mp4"
  options:
    filter_complex: >
      scale=1080:1080:force_original_aspect_ratio=decrease,
      pad=1080:1080:(ow-iw)/2:(oh-ih)/2:color=black
    c:v: "libx264"
    c:a: "aac"
    pix_fmt: "yuv420p"
    r: 30
